<div class="backListCelebs">

<div class="cardCeleb">
<h2> <span>Name</span> {{name}}</h2>
<br>
<h2> <span> Occupation</span>  {{occupation}}</h2>
<br>
<h2> <span> catchPhrase </span>   {{catchPhrase}}</h2>
<br>

<button class="bt1" onclick="window.location.href='/celebrities/celebrities/{{_id}}/edit'">Update celebrity</button> 

<form class="form-button" action="/celebrities/celebrities/{{_id}}/delete" method="post">
  <button type="submit">Delete celebrity</button>
</form>

</div>


</div>